
<ion-content padding>
  <ion-header>
    <ion-navbar background-color="#057989" hideBackButton="false" scroll="false">
      <ion-buttons left>
        <img height="35" src="assets/imgs/police_logo.png" />
      </ion-buttons>
      <ion-title >
        <label text-center style="font-size: 16px; font-family: arial; text-align: center;font-weight: bold"> Reset Password </label>
      </ion-title>
      <ion-buttons right>
        <img height="35" src="assets/imgs/mrsac_logo.png" />
      </ion-buttons>
  </ion-navbar >
    </ion-header>
          <ion-card-header >
   
    

 
  </ion-card-header>
  <form [formGroup]="authForm" >
    <ion-item>
      <ion-label floating>Mobile no</ion-label>
      <ion-input type="tel" value="" style="color: #000" [formControl]="authForm.controls['username']" [ngClass]="{'error-border':!authForm.controls['username'].valid}" [(ngModel)]="data.username" maxlength="10"></ion-input>
      <!-- <ion-icon name="person" item-right ></ion-icon> -->
    </ion-item><br />
    <div class="error-box" *ngIf="authForm.controls['username'].hasError('required') && authForm.controls['username'].touched">* Username is required!</div>
    <div class="error-box" *ngIf="authForm.controls['username'].hasError('minlength') && authForm.controls['username'].touched">* Minimum username length is 5!</div>
    <div class="error-box" *ngIf="authForm.controls['username'].hasError('maxlength') && authForm.controls['username'].touched">* Maximum username length is 10!</div>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="authForm.controls['password']" value="" [type]="passwordType" clearOnEdit="false" [(ngModel)]="data.password"></ion-input>
        </ion-item><br />

        <ion-item>
          <ion-label floating>Confirm Password</ion-label>
          <ion-input [formControl]="authForm.controls['cpassword']" value="" [type]="passwordType" clearOnEdit="false" [(ngModel)]="data.cpassword"></ion-input>
            </ion-item><br />
    <div class="error-box" *ngIf="authForm.controls['cpassword'].hasError('required') && authForm.controls['cpassword'].touched">* Password is required!</div>
    <div class="error-box" *ngIf="authForm.controls['cpassword'].hasError('minlength') && authForm.controls['cpassword'].touched">* Minimum username length is 5!</div>
    <div class="error-box" *ngIf="authForm.controls['cpassword'].hasError('checkFirstCharacterValidatorOutput') && authForm.controls['cpassword'].touched">* Password cant't start with number!</div><br />
    

    <button type="submit"  ion-button full  [disabled]="!authForm.valid"style="text-transform: none;background: #057989"(click)="chckpassword()">Reset Password</button>

    
    
    

  
  </form>

  
</ion-content>



